@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: TTCPro;
  src: url('./assets/ttcpro/TTCPro-ed9ac02e.woff2');
}

@layer base {

  /* width */
body::-webkit-scrollbar {
  width: 10px;
  /* position: absolute; */
  
}

/* Track */
body::-webkit-scrollbar-track {
  background: #F8F8F8;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: rgb(167, 167, 167); 
  border-radius: 20px;
}

/* body.no-scrollbar-thumb::-webkit-scrollbar-thumb {
  background: #F8F8F8;
} */

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: #414141; 
}


  .normal-point {
    cursor: url('/src/assets/default-b2d72215.svg'), pointer;
  }

  .pointer-cursor {
    cursor: url('/src/assets/pointer-84176aa3.svg'), pointer;
  }


  .pointer-cursor:active {
    cursor: url('/src/assets/active-1352ec3e.svg'), pointer;
  }

  .animate-spiner {
    animation: spin 6s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(-360deg);
    }
  }

  .specal {
    cursor: url('/src/assets/special.svg'), pointer;
  }

  .cards-icon svg {
    width: 3.5rem;
  }

  .groups-m:hover .video-bg {
    @apply scale-95 rounded-lg;
  }

  .groups-m:hover .video-bg .scal-up {
    @apply scale-110;
  }

  .groups-m:hover {
    @apply bg-blackColor;
  }

  .groups-m:hover .ink-btn {
    @apply text-bodyColor bg-blackColor;
  }

  /* .groups-m, */
  /* .ink-btn, */
  .video-bg .scal-up,
  .video-bg {
    transition: all .3s ease-in-out;
  }

  .pree-check:checked+span .pree-bg {
    bottom: 0;
  }

  .pree-check:checked+span .pree-icon {
    opacity: 1;
  }

  .qcheck:checked+span.bgqcheck {
    @apply bg-blackColor;
  }

  .qcheck:checked+span .qcirclecheck {
    @apply left-[4.9rem] bg-bodyColor rotate-0;
  }

  .navlinks.active {
    left: -100%;
  }

  .navlinks.unactive {
    left: 0;
  }

  .tab-ani {
    animation: tab-moving .5s ease;
  }

  @keyframes tab-moving {
    from {
      transform: translateY(50px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .animate-spin-watch {
    animation: spin-watch 5s linear infinite;
  }

  @keyframes spin-watch {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .clickRotate {
    animation: rotateAnimation .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes rotateAnimation {
    from {
        transform: rotate(0deg);
        transform-origin: center;
    }
    to {
        transform: rotate(180deg);
        transform-origin: center;
    }
}

}

.chat-gpt {
  scrollbar-width: 10px;
  scrollbar-color: rgb(138, 138, 138) #fff;
}